<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-icon name="arrow-back-circle-outline" (click)="returnHome()" size="large"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content class="text-primary">
    <ion-row class="">
        <ion-col size="12" class="center">
            <img src="../../../assets/imgs/error.svg" alt="error" />
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="center">
            <h1 class="medium ion-text-uppercase color">oups !!!</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" class="secondary center">
            <h5>Aucune données disponible.</h5>
        </ion-col>
    </ion-row>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-button size="large" tappable (click)="returnHome()" expand="block" fill="solid" type="submit" class="ion-margin-horizontal"><span class="">lancer une commande</span></ion-button>
    </ion-toolbar>
</ion-footer>