<ion-header class="ion-no-border">
    <ion-toolbar class="paddingless marginless">
        <ion-item lines="none">
            <ion-thumbnail slot="start">
                <ion-img src="assets/imgs/logo.png" class="logo" alt="SDR"></ion-img>
            </ion-thumbnail>

            <ion-text>
                <h1 class="marginless paddingless" color="secondary medium">
                    <span *ngIf="context == 'home'">Salut,
            <span style="color: #ff5252" *ngIf="UserInfos | async as user">{{
              user.firstname
            }}</span>
                    </span>
                    <span *ngIf="context == 'login'">Votre Numéro</span>
                    <span *ngIf="context == 'intro'">Bienvenu</span>
                    <span *ngIf="context == 'history'">Mes commandes</span>
                    <span *ngIf="context == 'profil'">Mon compte</span>
                </h1>

                <span *ngIf="context == 'home'" class="marginless header-subtitle">
          Explorez vos envies
        </span>

                <span *ngIf="context == 'login'" class="marginless header-subtitle">
          Pour vous faire livrer en toute sécurité
        </span>
            </ion-text>
            <ion-icon *ngIf="context == 'home'" slot="end" size="large" name="basket" color="secondary" (click)="openCard()"></ion-icon>
            <ion-badge slot="end" *ngIf="context == 'home'" class="ion-no-margin">{{ nbProduct | async }}
            </ion-badge>
        </ion-item>
    </ion-toolbar>
</ion-header>