<ion-header>
    <ion-toolbar>
        <ion-title class="titleHead">
            <ion-row>
                <ion-col size="1">
                    <button class="arrowBack" (click)="back()">
            <ion-icon
              src="../../../../assets/imgs/arrow-back-black.svg"
              name="cart-outline"
              size="medium"
            ></ion-icon>
          </button>
                </ion-col>

                <ion-col size="9">
                    <ion-text>Mon panier</ion-text>
                </ion-col>

                <ion-col size="2">
                    <ion-button class="waves-effect waves-light block" fill="outline" size="small" color="secondary" [disabled]="currentOrder.item.length===0" (click)="ClearAll()">
                        <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="hover-grid">
        <div *ngFor="let products of currentOrder.item let i = index">
            <ion-card>
                <ion-card-content class="paddingless">
                    <ion-grid class="paddingless align-items-center">
                        <ion-row class="paddingless align-items-center">
                            <ion-col size="3.5" class="align-items-center">
                                <ion-avatar>
                                    <ion-img fill="outline" [src]="products.item.image"></ion-img>
                                </ion-avatar>
                            </ion-col>
                            <ion-col class="ion-ground paddingless">
                                <ion-row class="ion-no-padding">
                                    <ion-col>
                                        <ion-label color="secondary" class="text-primary medium paddingless">
                                            <ion-text class="ion-text-wrap text-primary" style="--padding-top: 10px">{{products.item.titre}}</ion-text>
                                        </ion-label>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="ion-align-items-center Prixproduct">
                                    <ion-text color="primary ion-justify-content-between
                      medium
                      ion-text-wrap ion-align-items-center ion-text-center" class="paddingless marginless large text-secondary">{{products.amount | number:'':'fr-FR'}} F</ion-text>
                                </ion-row>
                                <ion-row class="paddingless rowQTY">
                                    <ion-col size="9" class="paddingless" style="padding-bottom: 20px">
                                        <button (click)="Down(i)" class="buttonMoin paddingless">
                      <ion-text>-</ion-text>
                    </button>
                                        <ion-text class="quantity paddingless">{{products.quantity | twoDigit }}</ion-text>
                                        <button (click)="Up(i)" class="buttonPlus paddingless">
                      <ion-text>+</ion-text>
                    </button>
                                    </ion-col>

                                    <ion-col class="paddingless marginless ion-align-self-end" size="3">
                                        <ion-button class="
                        ion-button-curve
                        ion-align-items-end
                        ion-justify-content-end
                        ion-justify-self-baseline
                        ion-float-right
                      " (click)="deletFromCard(i)" expand="block" fill="solid" size="default" color="primary">
                                            <ion-icon name="trash-outline"></ion-icon>
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="align-items-center paddingless"> </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </div>
        <div *ngIf="currentOrder.item.length===0" class="emptycard">
            Votre panier est vide
        </div>
    </ion-grid>
    <ion-fab style="width: 100%" vertical="bottom" slot="fixed">
        <div class="detailPanier ion-padding ion-margin" size="12">
            <ion-row>
                <ion-col class="paddingless text-primary" size="9">Votre commande:</ion-col>
                <ion-col class="paddingless ion-text-end text-secondary" size="3">{{Somme() | number:'':'fr-FR'}} F</ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="paddingless text-primary" size="9">Cout de la livraison:</ion-col>
                <ion-col class="paddingless ion-text-end text-secondary" size="3">{{currentOrder.deliveryFees| number:'':'fr-FR' }} F</ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="paddingless text-primary" size="9">Total:</ion-col>
                <ion-col class="paddingless ion-text-end text-secondary text-gras" size="3">{{currentOrder.totalAmount + currentOrder.deliveryFees | number:'':'fr-FR'}} F</ion-col>
            </ion-row>
        </div>
        <ion-button [disabled]="currentOrder.item.length===0" (click)="Commande()" size="large" expand="full" fill="solid" type="submit" class="
        waves-effect waves-light
        btn
        card-panel
        red
        darken-1
        white-text
        btn-large
      ">
            <ion-text class="text-primary">COMMANDER</ion-text>
        </ion-button>
    </ion-fab>
</ion-content>