@import url('../../../../global.scss');


ion-card {
    border-radius: 17px;
    --background: #fbfbfb52;
}

ion-avatar {
    height: 100%;
    width: 100%;
}

.ion-button-curve {
  --border-radius: 20px 0px 17px 0px !important;
  margin-right: -2px;
  margin-bottom: -6.3px;
  width: 72px;

}


.Prixproduct {
    padding-bottom: 8px;
}

.buttonPlus {
    border-radius: 50px;
    width: 35px;
    height: 35px;
    border: solid black 1px;
    color: white;
    background-color: black;
}

.quantity {
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}

.buttonMoin {
    border-radius: 50px;
    width: 35px;
    height: 35px;
    border: solid black 1px;
    background-color: white;
}

.detailPanier {
    border-radius: 10px;
    background: rgba(255, 153, 0, 0.09);
    border: solid #FF9900 1px;
}

.hover-grid {
    overflow-y: auto;
    height: 70%;
}

ion-text.ion-text-wrap.md.hydrated {
    margin-top: 7px;
}

ion-text.paddingless.marginless.large.text-secondary {
    font-size: 18px;
}


.trashicone{
    background-color: rgba(255, 153, 0, 0.09);
    color: #ed4545;
    border-radius: 4px;
    border: solid 1px;
    width: 35px; 
    height: 30px;

}

.CommandButton {
    width: 98%;
    height: 40px;
    background-color: #ed4545;
    border-radius: 8px;
    margin-left: 1%;
    color: white;
    font-size: 20px;
}
.CommandButtonGRAY{    
    background-color: silver !important;
}

.titleHead {
    width: 100%;
    padding-right: 10px;
    padding-left: 5px;
}

.footer-md::before {
    display: none;
}

ion-col.paddingless.md.hydrated {
    align-self: flex-end;
}

.rowQTY {
    margin-bottom: 6px;
}

.arrowBack {
    background: inherit;
}
.emptycard{
    margin-top: 60%;
    margin-left: 30%;
    font-style: italic;
    display: flex;
}
.iconDefaultCOlor{
    color: silver;
    background-color: white;
}
.text-gras{
    font-weight: bold;
}
@media screen and (max-width:1500px) {
    ion-img {
        height: 7rem;
        width: 7rem;
        margin-top: 0.1rem;
        margin-left: 4rem;
        border: 2px solid #9e9e9e33;
    }
}

@media screen and (max-width:990px) {
    ion-img {
        height: 7rem;
        width: 7rem;
        margin-top: 0.1rem;
        margin-left: 4rem;
    }
}

@media screen and (max-width:770px) {
    ion-img {
        height: 7rem;
        width: 7rem;
        margin-top: 0.2rem;
        margin-left: 1.4rem;
    }
}

@media screen and (max-width:550px) {
    ion-img {
        margin-top: inherit;
        height: 6rem;
        width: 6rem;
        margin-left: 0.1rem;
    }
}

@media screen and (max-width:479px) {
    ion-img {
        margin-top: inherit;
        height: 5.4rem;
        width: 5.4rem;
        margin-left: 0.1rem;
    }
}

@media screen and (max-width:380px) {
    ion-img {
        margin-top: inherit;
        height: 4.5rem;
        width: 4.5rem;
        margin-left: 0.1rem;
        margin-right: 0.5rem;
    }
}

@media screen and (max-width:330px) {
    ion-img {
        margin-top: 0.1rem;
        height: 4rem;
        width: 4rem;
        margin-left: 0.1rem;
        margin-right: 0.2rem;
    }
    ion-icon.ion-info.md.ion-color.ion-color-secondary.icon-large.hydrated {
        width: 18px;
        height: 18px;
        position: absolute;
    }
    ion-label {
        font: menu !important;
    }
}

@media screen and (max-width:290px) {
    ion-img {
        margin-top: 0.1rem;
        height: 3.6rem;
        width: 3.6rem;
        margin-left: -0.1rem;
    }
    ion-icon.ion-info.md.ion-color.ion-color-secondary.icon-large.hydrated {
        width: 18px;
        height: 18px;
        position: absolute;
    }
    ion-label {
        font: menu !important;
    }
}





