@import url('../../../global.scss');


ion-card {
    border-radius: 17px;
    --background : #fbfbfb62;
  }
  
.ion-button-curve {
    --border-radius: 20px 0px 17px 0px !important;
    width:85.5px ;
    height: 37px;
    margin-bottom: -1px !important;
    margin-right: -1.5rem !important;
  }

.bottomless{
    padding-bottom:0px;
}
.titleTextColor{
    color: #ed4545;
    font-size: 14px;
    font-weight: 900
}
.numcommande{
    font-size: 16px
}
.dropdownicone{
    font-size: 12px
}
.rowCommande{
    padding-top: 6px;
    width: 150rem;
}

.flexElement{
    display: flex;
}

.textoswald{
    font-weight: 700;
    font-size: 13px;
}
.textpopin{
    font-weight: 400;
    font-size: 13px;
}

.textpopin2{
    font-weight: 400;
    font-size: 12px;
}

.colorSurface{
    background-color: #FBFBFB;
}

ion-col.ion-col-price {
    display: flex;
    justify-content: flex-end;
}

ion-row.deleveryPrice{
    padding-top: 6px;
    padding-right: 14px
}

.colcommande{
    display: flex; 
    align-items: center;
}

.divbicycle{
    margin-top: 2px;
    border-radius: 8px;
    background-color:rgba(255, 153, 0, 0.09);


}

.producthistory{
    font-weight: 400;
}

.texdate{
    font-size: 11px;
    
}
.iconefresh{

    font-size: 26px;
}


ion-row.ios.hydrated {
    font-weight: 300;
}