<div>
  <ion-card class="paddingless">
    <ion-card-content class="bottomless">
      <ion-row>
        <ion-col class="marginless paddingless colcommande" size="8">
          <h3 color="secondary" class="marginless paddingless numcommande">
            #{{ item.number }} 
          </h3>
        </ion-col>

        <ion-col size="4" class="paddingless ion-justify-content-center">
          <ion-row>
            <ion-col
              ><h6
                class="text-secondary titleTextColor ion-float-right marginless"
              >
                {{ item.totalAmount | number:'':'fr-FR' }} F
              </h6></ion-col
            >

            <ion-col size="1"
              ><ion-icon
                class="ion-justify-content-center dropdownicone"
                [src]="src"
                (click)="play()"
              ></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="texdate text-primary">
        {{ item.dateDelivery  | timeAgo  }}
      </ion-row>

      <div
        class="ion-padding-top paddingless"
        *ngIf="!nb"
        class="paddingless ion-no-padding ion-no-margin"
      >
        <ion-list class="paddingless ion-no-padding ion-no-margin" lines="full">
          <ion-item
            *ngFor="let product of item.item"
            class="paddingless ion-no-padding ion-no-margin"
          >
            <ion-row
              class="paddingless ion-no-padding ion-no-margin rowCommande"
            >
              <ion-col
                class="
                 
                  text-primary
                  paddingless
                  ion-no-padding ion-no-margin ion-align-items-center
                  flexElement
                "
                size="8"
              >
                <ion-text
                  class="textpopin text-primary paddingless ion-no-padding ion-no-margin"
                  color="secondary"
                  >{{ product.quantity }} X {{ product.item.titre }}
                </ion-text>
              </ion-col>
              <ion-col
                size="4"
                class="ion-col-price paddingless ion-no-padding ion-no-margin"
              >
                <ion-text
                  class=" textoswald text-secondary paddingless ion-no-padding ion-no-margin"
                  color="secondary"
                  >{{product.amount | number:'':'fr-FR' }} F
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>

        <ion-row class="deleveryPrice">
          <ion-col class="paddingless" size="10">
            <ion-text
              class="textpopin text-primary paddingless ion-no-padding ion-no-margin"
              color="secondary"
              >Coût de Livraison</ion-text
            >
          </ion-col>
          <ion-col size="2" class="ion-col-price paddingless">
            <ion-text
              class="textoswald text-secondary paddingless ion-no-padding ion-no-margin"
              color="secondary"
            >
            {{item.deliveryFees}} F
            </ion-text>
          </ion-col>
        </ion-row>
      </div>

      <ion-row class="marginless paddingless ion-justify-content-between">
        <ion-row size="2">
          <ion-text
            class="
              ion-justify-content-center ion-align-items-center
              textpopin2
              text-primary
              flexElement
            "
            color="warning"
            >{{getState()}}</ion-text
          >
        </ion-row>

        <ion-row class="ion-float-right">
          <ion-button
            class="ion-button-curve"
            expand="block"
            fill="solid"
            size="default"
          >
            <ion-row>
              <ion-col size="1">
                <ion-icon
                  name="refresh"
                  class="
                    iconefresh
                    ion-justify-content-center ion-float-left
                    marginless
                  "
                  (click)="addToCart()"
                ></ion-icon>
              </ion-col>
            </ion-row>
          </ion-button>
        </ion-row>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>

