<ion-list class="text-primary">
    <ion-row class="ion-no-margin ion-no-padding">
        <ion-col size="12" style="display: flex; justify-content: flex-end;">
            <ion-icon class="secondary" name="close-outline" size="large" (click)="quit()">
            </ion-icon>
        </ion-col>
    </ion-row>
    <ion-row class="ion-no-margin">
        <ion-col size="12" class="" style="display: flex; justify-content: center;">
            <img src="../../../../assets/imgs/popup_success.svg" width="55">
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="display: flex; justify-content: center;">
            <ion-text class="ion-text-center">
                <h3><strong color="secondary" class="text-primary">Merci</strong></h3>
            </ion-text>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="display: flex; justify-content: center;">
            <ion-text class="ion-padding-horizontal">
                <h4 class="text-primary ion-text-nowrap" color="secondary" style="font-size:10px;">Votre commande numéro {{message}} <br/>a été bien enregistré</h4>
            </ion-text>
        </ion-col>
    </ion-row>
    <ion-item lines="none">
        <ion-button expand="block" fill="solid" size="default" tappable class="btn-large" (click)="quit()">
            <span class="ion-text-uppercase">ok</span>
        </ion-button>
    </ion-item>
</ion-list>
