<ion-header class="ion-header-tool">
  <figure class="imgTest"></figure>
  <ion-toolbar color=primary >
    <ion-icon ios="ios-arrow-back" class="py-2"size=large md="arrow-back"></ion-icon>
  </ion-toolbar>

  <ion-row class="row-circle">
    <ion-avatar class="circle">
      <ion-img src="../../../assets/imgs/sandwich.svg"></ion-img>
      <!-- <ion-img [src]="product.image"></ion-img> -->
      <ion-row class="row-shape-button">
        <ion-col class="shape-button" >
          <ion-row>

          </ion-row>
        </ion-col>
      </ion-row>
    </ion-avatar>
    </ion-row>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size=7>
      <ion-label
      color="secondary"
      class="text-primary medium paddingless"
    >
      <h5 class="product-Title">{{ product.titre }}</h5>
    </ion-label>
    </ion-col>
    <ion-col size=5>
      <ion-badge class=" medium ionBadgeShapeRound">
        <span color="warning">{{ product.restaurant }}</span>
      </ion-badge>
    </ion-col>
  </ion-row>  
</ion-content>
