.btn_count{
    margin-top: 16px;
    height:30px;
    border: 1px solid;
    width: 30px;
}

.header-md::after {
    display: none;
}

ion-toolbar.ion-color.ion-color-primary.md.in-toolbar.hydrated {
    position: absolute;
    top: 0;
}

.ionBadgeShapeRound{
    border-radius: 10px;
    color: #FF9900;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    
    background: rgba(255, 153, 0, 0.09);
    
  }

ion-row.md.hydrated{
    display: flex;
    justify-content: center;
}

.imgTest{
    display: block;
    height: 187px;
    background-color: #ed4545;
    margin: 0;
}

.circle {
    margin-top: -7rem !important;
    height: 200px;
    width: 200px;
    background-color: rgb(247, 244, 244);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 100px;
}

.shape-button {
    border: 5px solid white;
    background-color: #ed4545;
    border-radius: 40px;
    margin-left: 2rem;
    display: flex;
    height: 40px;
    width: 10px !important;
    margin-top: -30px;
}

ion-row.row-shape-button.md.hydrated {
    display: flex;
    align-self: center;
    width: 9.9rem;
}

ion-button.btn_counts{
    margin-top: -2px;
}

ion-content.md.hydrated{
        margin-top: calc(187px + 100px) !important;
}