<app-header context="login"></app-header>
<ion-content slot="fixed">
    <ion-row>
        <ion-col size="3">
            <ion-input type="tel" placeholder="+229" maxlength="3" value="+229" class="input-field"></ion-input>
        </ion-col>
        <ion-col color="secondary m-3">
            <ion-input class="input-field" type="tel" [attr.maxlength]="8" [(ngModel)]="user.telephone" required placeholder="Numéro à 8 chiffres" (keyup)="validateNumbers()" size="8" color="primary"></ion-input>
            <div class="paddingless right-align flow-text">
                <span class="red-text accent-2"><ion-note color="danger"> {{warning}}</ion-note>
        </span>
            </div>
        </ion-col>
    </ion-row>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-button size="large" expand="full" fill="solid" type="submit" class="
        waves-effect waves-light
        btn
        card-panel
        red
        darken-1
        white-text
        btn-large 
      " [disabled]="checkIsEnableds()" (click)="saveNumber()" tappable><span class="white-text">continuer</span></ion-button>
    </ion-toolbar>
</ion-footer>