<app-header context="history"></app-header>
<ion-content>
    <ion-grid>
        <ion-list class="paddingless" lines="none">
            <ion-item *ngFor="let order of listOrder | slice:0:slice; let i=index">
                <app-history-item style="width: 100%" [item]="order"></app-history-item>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement de mes commandes...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>

        <ion-text *ngIf="listOrder.length==0" class="emptylist">Aucune commande disponible</ion-text>
    </ion-grid>
</ion-content>