<ion-header class="ion-no-border">
    <ion-toolbar class="background">
        <ion-row class="ion-margin-top">
            <ion-col>
                <ion-title color="light" class="text-primary medium">Profil</ion-title>
            </ion-col>
            <ion-col size="3" class="ion-margin-end" style="display: flex; justify-content: flex-end">
                <img src="../../../assets/imgs/edit.svg" alt="editer" *ngIf="!status" (click)="modify()" />
                <img src="../../../assets/imgs/frame_59.svg" alt="save" *ngIf="status" (click)="update()" />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" style="justify-content: center; display: flex">
                <ion-avatar class="img">
                    <img src="../../../assets/imgs/avatar_profil.png" alt="avatar" />
                </ion-avatar>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content class="paddingless marginless text-primary">
    <br />
    <form [formGroup]="validations_form">
        <div class="color ion-margin-start ion-margin-end">
            <ion-row>
                <ion-col size="3" style="justify-content: center; display: flex">
                    <img src="../../../assets/imgs/Vector.svg" alt="avatar" class="ion-margin-top" />
                </ion-col>
                <ion-col>
                    <ion-input class="input-field border" (tap)="doubleClickFunction()" (dblclick)="doubleClickFunction()" formControlName="name" type="text" [readonly]="readonly" placeholder="Nom" required>
                    </ion-input>

                    <ion-input class="input-field" (tap)="doubleClickFunction()" (dblclick)="doubleClickFunction()" formControlName="firstname" type="text" [readonly]="readonly" placeholder="Prénom" required>
                    </ion-input>
                </ion-col>
            </ion-row>
        </div>
        <div class="color ion-margin-top ion-margin-start ion-margin-end">
            <ion-row>
                <ion-col size="3" style="justify-content: center; display: flex">
                    <img src="../../../assets/imgs/phone_profil.svg" alt="avatar" class="ion-margin-top" />
                </ion-col>
                <ion-col>
                    <ion-input class="input-field" (tap)="doubleClickFunction()" (dblclick)="doubleClickFunction()" formControlName="telephone" type="tel" (keyup)="validateNumbers()" [attr.maxlength]="8" [readonly]="readonly" placeholder="Numero" required>
                    </ion-input>
                    <div class="paddingless right-align flow-text">
                        <span class="red-text accent-2">
              <ion-note color="danger">{{warning}}</ion-note>
            </span>
                    </div>
                </ion-col>
            </ion-row>
        </div>

        <div class="color ion-margin-top ion-margin-start ion-margin-end">
            <ion-row>
                <ion-col size="3" style="justify-content: center; display: flex">
                    <img src="../../../assets/imgs/address_profil.svg" alt="avatar" class="ion-margin-top" />
                </ion-col>
                <ion-col>
                    <ion-input class="input-field" (tap)="doubleClickFunction()" (dblclick)="doubleClickFunction()" formControlName="address" type="text" [readonly]="readonly" placeholder="Insérer votre adresse" required>
                    </ion-input>
                </ion-col>
            </ion-row>
        </div>
    </form>

</ion-content>


<ion-button  vertical="bottom" slot="fixed" (click)="deconexion()" size="large" expand="full" fill="solid" type="submit" class="
waves-effect waves-light
btn
card-panel
red
darken-1
white-text
btn-large
">
    <ion-text class="text-primary">SE DECONNECTER</ion-text>
</ion-button>
