ion-toolbar.background{
  height: 12em;
  width:100vw;
  --background: url(../../../assets/imgs/background_profil.png) 0 0/100% 100% no-repeat;
}
ion-avatar.img  {
  width:100% !important;
  height : 100% !important;
  max-width: 100px !important;  //any size
  max-height: 100px !important; //any size
}

div.color{
  background-color: #fbfbfb;
  border: 1px solid rgba(229, 229, 229, 0.5);
  border-radius: 5px;
}
img.ion-margin-top{
  margin-top: 0.5em !important;
}
ion-input.border{
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
ion-button.foot{
  position: fixed !important;
  bottom: 54px !important;
  width: 99vw;
}

  






//  ion-content {
//   font-family: 'Poppins', sans-serif;

// }


// ion-badge{
//   background-color: #FF9900; 
//   color: #242E3F; 
//   padding-top: 0.5rem;
// }

// .ion-badge-price.md.hydrated {
//     display: flex;
//     justify-content: end;
// }

// ion-col.column{
//   display: flex;
//   justify-content: flex-end;
// }

// ion-button.quit{
// display: flex;
// margin-top: 13rem;
// margin-right: 2rem;
// margin-left: 2rem;
// --border-radius: 95px 95px 95px 95px;
// font-size: larger;
// }
