@import url('../../../../global.scss');
ion-list-header {
    --background: $medium-color;
}

ion-item {
    size: 8px;
}

ion-textarea {
    --background: #FFF;
    --border-radius: 2px;
}

.rowDate {
    margin-left: 2%;
    margin-right: 2%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: #FBFBFB;
}
.headRow{
    padding-right: 0px !important;
}

.divLocation{
    width: 100%;
}
.detailPanier {
    border-radius: 10px;
    background: rgba(255, 153, 0, 0.09);
    border: 1px solid #FF9900 !important;
}

.CommandButton {
    width: 98%;
    height: 40px;
    background-color: #ed4545;
    border-radius: 8px;
    ;
    margin-left: 1%;
    color: white;
    font-family: "Popins";
    font-size: 16px;
}

.CommandButtonGRAY {
    width: 98%;
    height: 40px;
    border-radius: 8px;
    ;
    margin-left: 1%;
    color: white;
    font-family: "Popins";
    background-color: silver;
    font-size: 16px;
}

.titleHead {
    width: 100%;
    padding-right: 10px;
    padding-left: 5px;
}

.footer-md::before {
    display: none;
}

.native-input.sc-ion-input-ios {
    padding: 0px;
    padding-left: 10px !important;
    margin-left: 10px;
}

.ion-marginn {
    background-color: #FBFBFB;
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 2% !important;
    margin-left: 2% !important;
    position: relative;
}

.localisation.add-cmd {
    margin-bottom: 0px;
    border: solid gray 1px;
    margin-top: 0px;
    margin-left: 20px;
    border-radius: 5px;
    height: 50px;
}

.localisation.add-cmd:hover {
    border: solid #FF9900 1px;
}

ion-icon.ion-float-right.ios.ion-color.ion-color-secondary.icon-large.hydrated {
    position: absolute;
    top: -28px;
    left: 66px;
}

.closeIconAlert {
    --position: absolute;
    --top: -28px;
    --left: 66px;
}

.bicycle {
    width: 30px;
    height: 25px;
}

.dtlPanier {
    width: 95vw;
    position: absolute;
    bottom: 0;
    z-index: 0 !important;
    right: 0px;
    left: 0px;
    margin-right: 1px;
    margin-left: 15px;
}
.text-gras{
    font-weight: bold;
}

.alaign{
    align-items: center;
    display: flex;
    color: #737373;
}

.alaign_color{
    color: #737373;
}
.Itemalaign{
    align-items: center;
    display: flex;
    color: #737373;
    padding-left: 5%;
    height: 30px;
}

.ItemRow{
    width: 100%
}

ion-col.text-secondary.text-gray.text-smaller.md.hydrated {
    padding-left: 4%;
}
