<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-icon name="chevron-back-outline" color="secondary" class="icon" (click)="getback();"></ion-icon>
            Commander
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class=" ion-justify-content-center ion-padding-horizontal ">
    <ion-row color="primary " class=" ion-align-items-center rowDate ion-margin-horizontal ion-margin-top ion-padding-horizontale ">
        <ion-col size="5 ">
            <ion-text class="text-primary ion-padding-start ">Pour ce</ion-text>
        </ion-col>
        <ion-col size="7 " class="ion-text-end subtitle-7 ">
            <ion-datetime displayFormat="D MMM à HH:mm" min="2020-01-01" max="2050-12-31" placeholder="Choisir une date" monthShortNames="Jan,Fev,Mar,Avr,Mai,Jui,Juil,Août,Sept,Oct,Nov,Dec " [(ngModel)]="currentOrder.dateDelivery"></ion-datetime>
        </ion-col>
    </ion-row>
    <div class="ion-marginn ion-margin-top  ">
        <ion-row class="ion-align-items-center ion-padding-horizontal headRow ">
            <ion-col>
                <ion-text class="text-primary ">Etre livré</ion-text>
            </ion-col>
            <ion-col size="4 " style="display: flex; justify-content: end ">
                <ion-toggle color="warning "  (ionChange)="toggleClick($event)"  [(ngModel)]="currentOrder.delivery" color="warning " ></ion-toggle>
            </ion-col>
        </ion-row>
        <div *ngIf="currentOrder.delivery">
            <ion-row class="ion-align-items-center ">
                <div class="ion-padding ng-autocomplete divLocation">
                    <ng-autocomplete [data]="areaList " [(ngModel)]="selectedArea" [searchKeyword]="keyword" placeholder="Selectionnez votre quartier" [customFilter]="myCustomFilter" (inputChanged)="getsearch($event)" (selected)="selectEvent($event)" [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate ">
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                        <ion-list lines="none " class="subtitle-7 ">
                            <ion-list-header class=" " style="height: 32px">
                                <ion-label [innerHTML]="item.name "></ion-label>
                                <ion-button [innerHTML]="item.price "></ion-button>
                            </ion-list-header>
                            <ion-item  class="Itemalaign" *ngFor="let location of item.locations" (click)="setItem(location)">
                                <ion-row class="ItemRow">
                                    <ion-col size="1" class="paddingless ion-text-center alaign"> 
                                        <ion-icon class="alaign" name="location-outline"></ion-icon>              
                                    </ion-col>
                                    <ion-col class="paddingless alaign_color"><ion-label>{{location}}</ion-label></ion-col>
                                </ion-row>
                            </ion-item>
                        </ion-list>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]=" notFound "></div>
                    </ng-template>
                </div>
            </ion-row>
            <ion-row class=" ion-align-items-end ion-justify-content-end ion-margin-horizontal ion-align-items-center ">
                <ion-col size="9"  class="text-secondary text-gray text-smaller "><ion-text color="#3880ff"> {{search}}</ion-text></ion-col>
                <ion-col size="3" style="height: 35px; display: flex; justify-content: end; justify-content: space-between; ">
                    <ion-icon color="secondary" name="bicycle" class="bicycle "></ion-icon>
                    <ion-text color="primary" class="text-secondary "> {{currentOrder.deliveryFees}} F</ion-text>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-textarea placeholder="saisir une indication" class="ion-margin" [(ngModel)]="currentOrder.note">

                </ion-textarea>
            </ion-row>

        </div>

    </div>
</ion-content>
<ion-footer class="ion-no-border ">
    <ion-toolbar>
        <div class="detailPanier ion-padding ion-margin " size="12 ">
            <ion-row>
                <ion-col class="paddingless text-primary " size="9 ">Votre commande:</ion-col>
                <ion-col class="paddingless ion-text-end text-secondary " size="3 ">{{currentOrder.totalAmount | number:'':'fr-FR'}} F</ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="paddingless text-primary " size="9 ">Cout de la livraison:</ion-col>
                <ion-col class="paddingless ion-text-end text-secondary " size="3 ">{{currentOrder.deliveryFees  | number:'':'fr-FR'}} F</ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="paddingless text-primary " size="9 ">Total:</ion-col>
                <ion-col class="paddingless ion-text-end text-secondary text-gras" size="3 ">{{currentOrder.totalAmount + currentOrder.deliveryFees  | number:'':'fr-FR'}} F</ion-col>
            </ion-row>
        </div>
        <ion-button button size="large " expand="block " fill="solid" type="submit " tappable (click)="ConfirmOrder();"><span class="white-text text-primary ">VALIDER</span></ion-button>
    </ion-toolbar>
</ion-footer>