<ion-content class="main-view">
  <div class="overlay"></div>
  <div class="modal_content">
    <ion-label class="orderDone" text-center>Description</ion-label>
    <p text-center>{{description}}</p>
    <button
      ion-button
      block
      outline
      round
      color="primary"
      class="cod_btn"
      (click)="Shopping()"
    >
      Fermer
    </button>
  </div>
</ion-content>
