<div *ngIf="item.image != null">
    <button expand="full" fill="outline" class="imagesColor" [ngClass]="{ imageClickColor: item.show }" (click)="setItem()">
    <ion-img [src]="item.image" class="imageTop" [alt]="item.title"></ion-img>
  </button>

    <div class="col s12">
        <h6 [innerHTML]="item.title" class="toolbar-title text-primary titleText"></h6>
    </div>
</div>

<div *ngIf="item.image==null">
    <button expand="full" fill="outline" class="imagesColor">
    <ion-spinner name="crescent"></ion-spinner>
    </button>
    <div class="col s12">
        <ion-skeleton-text animated style="width: 60%" class="toolbar-title text-primary titleText"></ion-skeleton-text>
    </div>
</div>
