  .titleText{
    font-size: 10px;
    color:#FF9900;
  }
  
  .imageClickColor{
    border: solid #FF9900 1px;
    background-color: white !important;
    
  }

  .imagesColor{
    width: 5em;
    height: 5.5em;
    border-radius: 8px;
    padding-top:8px;
    background-color:  #FF990017 ;
  }

  .imageTop{
    height:40px
  }

  