page-filters {
    .clear_btn{
        width: 100%;
        margin: auto;
        left: 0px;
        right: 0px;
        top: 0px;
    }
 
    //loader
    .nb-spinner {
     margin-left: auto;
     margin-right: auto;
     margin-top: 115px;
     margin-bottom: 50px;
     width: 60px;
     height: 60px;
     background: transparent;
     border-top: 4px solid #6739b7;
     border-right: 4px solid transparent;
     border-radius: 50%;
     -webkit-animation: 1s spin linear infinite;
     animation: 1s spin linear infinite;
 }
     
 @-webkit-keyframes spin {
     from {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
     }
     to {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }
           
 @keyframes spin {
     from {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
     }
     to {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }
 }
 