<ion-header>

  <ion-toolbar>
    <ion-title>Filtre</ion-title>
    <ion-buttons slot="end">
      <button ion-button icon-only color="primary">
        <ion-icon name="md-time"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item  >
      <ion-label>Tous</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="masterCheck"  (click)="checkMaster($event)"></ion-checkbox>
    </ion-item>

    <div *ngIf="loading == false" class="nb-spinner loade"></div>

    <ion-item *ngFor="let item of checkboxModel; let  i = index;">
        <ion-label>{{checkboxModel[i].text}}</ion-label>
        <ion-checkbox  slot="start"  [(ngModel)]="checkboxModel[i].value" (ionChange)="checkboxChange()"></ion-checkbox>
      </ion-item>

  </ion-list>

  <div class="padding">
  </div>

  <button ion-button color="primary" full round (click)="filter()">Filtrer</button>
  <button ion-button color="primary" outline round class="clear_btn" (click)="clear()">Annuler</button>
</ion-content>
