<app-header></app-header>
<ion-content slot="fixed">
    <ion-grid>
        <ion-row class="align-items-center ion-padding">
            <ion-col class="align-justify paddingless">
                <ion-searchbar type="search" autocomplete="on" autocorrect="on" showCancelButton="focus" clear-icon showClearButton="focus" [(ngModel)]="search" debounce="500" animated placeholder="Rechercher" class="paddingless" (ionBlur)="selectEventBlur($event)" (ionFocus)="selectEvent($event)"
                    (ionChange)="onChange($event)"></ion-searchbar>
            </ion-col>
        </ion-row>

        <ion-slides mode="md" pager="false" [options]="slideOpts" *ngIf="status">
            <ion-slide *ngFor="let slide of slides" class="paddingless">
                <app-filter-slides [item]="slide" (sendItem)="getItemTitle($event)"></app-filter-slides>
            </ion-slide>
        </ion-slides>
    </ion-grid>
    <ion-grid>
        <ion-list>
            <ion-list-header>
                <h3 color="secondary">Choisis ton menu</h3>
            </ion-list-header>
            <ion-item-group>
                <span *ngFor="let list of listMenu | catfilter: searchs ">
          <ion-item *ngFor="let item of list.repas | appfilter: search : 'titre'" lines="none" inset="true">
            <app-product style="width: 100%" [product]="item"></app-product>
          </ion-item>
        </span>
                <ion-text *ngIf="show" class="emptylist">Aucune donnée disponible</ion-text>

            </ion-item-group>

        </ion-list>
    </ion-grid>

    <!-- action button  -->
    <ion-fab right bottom *ngIf="panier.length > 0">
        <button ion-fab color="dark" mode="ios" (click)="processCart()">
      <ion-icon name="cart"></ion-icon>
    </button>
    </ion-fab>
</ion-content>
