ion-searchbar {
    --border-radius: 4px;
    border: 0.5px solid;
    --placeholder-font-style: italic;
    --placeholder-font-weight: 900;
    --placeholder-opacity: 100%;
}

.emptylist{
    font-style: italic;
    margin-top: 30%;
    margin-left: 20%;
    display: flex;
}
