<ion-content class="main-view" >
  <div class="overlay"></div>
  <div class="modal_content">
 <ion-label class="orderDone comman" text-center>Choisir vos ingrédients
      </ion-label>
      <hr>
      <ion-list> 
        <ion-item  tappable >
          <ion-label>Tous</ion-label>
          <ion-checkbox  [(ngModel)]="masterCheck"  (click)="checkMaster($event)"></ion-checkbox>
        </ion-item>
        <div *ngFor = "let item of ingredients; let  i = index;" >
        <ion-item >
            <ion-label>{{item.ingredient}}</ion-label>
            <ion-checkbox [(ngModel)]="checkboxModel[i].value" (ionChange)="checkboxChange()" > </ion-checkbox>
          </ion-item>
        </div>
         
      </ion-list>
      <div  class="boutton" > 
          <button ion-button block outline round color="primary"class="cod_btn" (click)="closeModal()">Valider</button>
        </div>
    
  </div>


</ion-content>
