page-ingredient {
  .main-view {
    background: transparent;
  }
  .page-title {
    text-align: center;
    color: #40405e;

    font-size: 1.6rem;
    padding-top: 7% !important;
  }

  .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background-color: #333;
  }
  .comman {
    // font-size: 1.3rem;
    color: black;
  }
  .modal_content {
    position: absolute;
    top: calc(60% - (50% / 2));
    left: 0;
    right: 0;
    width: 80%;
    height: 315px;
    padding: 10px;
    z-index: 100;
    margin: 0 auto;
    color: #333;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(51, 51, 51, 0.35);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: scroll;
    border-bottom-right-radius: 6.9mm;
    border-bottom-left-radius: 6.9mm;
    border-top-left-radius: 6.9mm;
    border-top-right-radius: 6.9mm;
    .orderDone {
      font-weight: bold;
      font-size: 1em;
      color: primary;
    }
  }
}
