<app-header context="intro"></app-header>
<ion-content slot="fixed">
  <ion-slides mode="md" pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let slide of slides">
      <div class="row center-align">
        <div class="col s12">
          <ion-img
            [src]="slide.image"
            class="circle responsive-img"
            alt="tutoriel"
          ></ion-img>
        </div>

        <div class="col s12">
          <h2 [innerHTML]="slide.title" class="toolbar-title"></h2>
        </div>
        <div class="col s12">
          <div
            [innerHTML]="slide.description"
            class="flow-text slide-desc"
          ></div>
        </div>
        <div class="col s12">&nbsp;</div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button
      size="large"
      expand="full"
      fill="solid"
      type="submit"
      class="
        waves-effect waves-light
        btn
        card-panel
        red
        darken-1
        white-text
        btn-large
      "
      [routerLink]="['/login']"
      (click)="start();"
      ><span class="white-text">Demarrer</span></ion-button
    >
  </ion-toolbar>
</ion-footer>
