@import url('../../../global.scss');

app-product {
  width:100%
}

ion-card {
  border-radius: 17px;
  --background : #fbfbfb52;
}

ion-avatar {
  height:100%;
  width:100%;
}

.ion-button-curve {
  --border-radius: 20px 0px 17px 0px !important;
  margin-right: -2px;
  margin-bottom: -0.3px;
}

ion-button.ion-color.ion-color-secondary.md.button.button-block.button-small.button-outline.ion-activatable.ion-focusable.hydrated {
  margin-left: -0.5rem;
}

ion-icon.ion-bycicle.md.hydrated {
  padding-top: 0.1rem;
  padding-left: 0.2rem;
}

ion-icon.ion-info.md.ion-color.ion-color-secondary.icon-large.hydrated {
  position: absolute;
  border-width: thin;
}

ion-text.ion-text-wrap.md.hydrated{
  margin-top: 7px;
 
}

ion-text.paddingless.marginless.large.text-secondary{
    font-size: 18px;
}

.ionBadgeShapeRound{
  border-radius: 10px;
  color: #FF9900;
  background: rgba(255, 153, 0, 0.09);
  
}

ion-col.paddingless.md.hydrated {
  align-self: flex-end;
}

.ion-button-info{
  --border-width: thin !important;
}

@media screen and (max-width:1500px) {
  ion-img {
  height: 7rem;
  width: 7rem;
  margin-top: 0.1rem;
  margin-left: 4rem;
  border: 2px solid #9e9e9e33;
  }  
}
@media screen and (max-width:990px) {
  ion-img {
  height: 7rem;
  width: 7rem;
  margin-top: 0.1rem;
  margin-left: 4rem;
  }
}

@media screen and (max-width:770px) {
  ion-img {
  height: 7rem;
  width: 7rem;
  margin-top: 0.2rem;
  margin-left: 1.4rem;
  }
}

@media screen and (max-width:550px) {
  ion-img {
    margin-top: inherit;
    height: 6rem;
    width: 6rem;
    margin-left: 0.1rem;
  }
}
@media screen and (max-width:479px) {
  ion-img {
    margin-top: inherit;
    height: 5.4rem;
    width: 5.4rem;
    margin-left: 0.1rem;
  }

}

@media screen and (max-width:380px) {
  ion-img {
    margin-top: inherit;
    height: 4.5rem;
    width: 4.5rem;
    margin-left: 0.1rem;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width:330px) {
  ion-img {
    margin-top: 0.1rem;
    height: 4rem;
    width: 4rem;
    margin-left: 0.1rem;
    margin-right: 0.2rem;
  }

  ion-icon.ion-info.md.ion-color.ion-color-secondary.icon-large.hydrated {
    width: 18px;
    height: 18px;
    position: absolute;
  }


  ion-label {
    font: menu !important;
  }
}
@media screen and (max-width:290px) {
  ion-img {
    margin-top: 0.1rem;
    height: 3.6rem;
    width: 3.6rem;
    margin-left: -0.1rem;
  }

  ion-icon.ion-info.md.ion-color.ion-color-secondary.icon-large.hydrated {
    width: 18px;
    height: 18px;
    position: absolute;
  }


  ion-label {
    font: menu !important;
  }
}




