<ion-card>
    <ion-card-content class="paddingless">
        <ion-grid class="paddingless align-items-center">
            <ion-row class="paddingless align-items-center">
                <ion-col size="3.5" class="align-items-center">
                    <ion-avatar>
                        <ion-img fill="outline" [src]="product.image" (ionError)="LoadingFailed()"></ion-img>
                    </ion-avatar>
                </ion-col>
                <ion-col class="ion-ground paddingless">
                    <ion-row class="ion-no-padding">
                        <ion-col>
                            <ion-label color="secondary" class="text-primary medium paddingless">
                                <ion-text class="ion-text-wrap" style="--padding-top: 10px">{{ product.titre }}
                                </ion-text>
                            </ion-label>
                        </ion-col>
                        <!-- <ion-col size="2">
              <ion-button
                class="ion-button-info"
                expand="block"
                fill="outline"
                color="secondary"
              >
                <ion-icon
                  src="../../../assets/imgs/infoline.svg"
                  color="secondary"
                  size="smaller"
                  class="ion-info"
                ></ion-icon>
              </ion-button>
            </ion-col> -->
                    </ion-row>
                    <ion-row class="ion-align-items-center">
                        <ion-badge class="
                ion-justify-content-between
                medium
                ion-text-wrap
                text-primary
                ion-align-items-center ion-text-center
                ionBadgeShapeRound
                ion-padding-end
              ">
                            <ion-icon class="ion-padding-end" src="../../../assets/imgs/location.svg"></ion-icon>
                            <span class="ion-text-wrap text-primary">{{
                product.restaurant
              }}</span>
                        </ion-badge>
                        &nbsp;
                        <ion-icon name="bicycle" *ngIf="product.livrable" size="medium" class="ion-text-center"></ion-icon>
                    </ion-row>
                    <ion-row class="align-items-center paddingless">
                        <ion-col>
                            <ion-text color="primary" class="paddingless marginless large text-secondary">{{ product.prix | number: "":"fr-FR" }} F</ion-text>
                        </ion-col>

                        <ion-col class="paddingless marginless ion-align-self-end" size="4">
                            <ion-button class="
                  ion-button-curve
                  ion-align-items-end
                  ion-justify-content-end
                  ion-justify-self-baseline
                " (click)="addToCart()" expand="block" fill="solid" size="default" color="primary">
                                <ion-icon src="../../../assets/imgs/marketCart.svg" name="cart-outline" size="medium"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>