/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* app font : Poppins & oswald */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import "theme/variables.scss";

/* style variables */
$text-primary: "Poppins", sans-serif;
$text-primary-light: "Poppins-light", sans-serif;
$text-secondary: "Oswald", sans-serif;

/* custom style */
$primary-color: #ed4545;
$secondary: #242e3f;
$medium-color: #989aa2;
.text-primary {
  font-family: $text-primary;
}
.text-secondary {
  font-family: $text-secondary;
}
.medium {
  font-weight: 600;
}
.light {
  font-weight: 200;
}
.secondary {
  color: $secondary;
}
html,
body {
  font-family: $text-primary;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.logo {
  border-radius: 10px;
}
.light-text {
  font-family: "Poppins-light", sans-serif;
}
.align-items-center {
  align-items: center;
}

ion-title {
  font-weight: 600;
}

.marginless {
  margin: 0px !important;
}

.paddingless {
  padding: 0px !important;
}

.btn-large {
  width: 100% !important;
  padding: unset;
  font-size: 1.25em;
}

.content-header {
  margin-top: 10px;
}

.searchbar-md .searchbar-input {
  border-radius: 20px;
}

.large-bottom-button {
  width: 90%;
  position: fixed;
  bottom: 20px;
  left: 5%;
  border-radius: 10px;

  -webkit-box-shadow: 0px 11px 6px -6px rgba(60, 76, 121, 0.4);
  -moz-box-shadow: 0px 11px 6px -6px rgba(60, 76, 121, 0.4);
  box-shadow: 0px 11px 6px -6px rgba(60, 76, 121, 0.4);
}

.large-main-action {
  width: 90%;
  position: relative;
  /* bottom: 20px; */
  left: 5%;
  border-radius: 10px;

  -webkit-box-shadow: 0px 11px 6px -6px rgba(60, 76, 121, 0.4);
  box-shadow: 0px 11px 6px -6px rgba(60, 76, 121, 0.4);
}

.tabs-md .tabbar {
  background-color: #fff;
}

.title {
  /* Style for "Explore" */
  height: 38px;
  color: #000000;

  font-size: 25px;
  font-weight: 600;
}

.subtitle {
  /* Style for "What would" */
  height: 23px;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}

.subtitle-5 {
  /* Style for "What would" */
  /* Style for "View all" */
  font-size: 12px;
  font-weight: 400;
}

.subtitle-6 {
  /* Style for "What would" */
  /* Style for "View all" */
  font-size: 15px;
  font-weight: 700;
}

.subtitle-7 {
  /* Style for "What would" */
  /* Style for "View all" */
  font-size: 10px;
  font-weight: 700;
}

.left-float {
  float: left;
}

