<ion-content>
  <div class="header">
    <ion-row class="header_section">
      <ion-col col-12>
        <ion-item no-lines class="delivery_address" (click)="changeAddress()">
          <img src="http://cdn.ressources.rintio.com/indikme/anchor/anchor.png" alt="anchor" style="height: 25px"/>
          <span style="float:right;">{{ address }}</span>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

  <div class="allProduct">
    <ion-row>
      <ion-col> <ion-label class="basket_title">Panier</ion-label> </ion-col>
      <ion-col>
        <button (click)="checkout()" ion-button color="dark" float-right clear>
          Valider
        </button>
      </ion-col>
    </ion-row>
    <ion-card>
      <img src="assets/imgs/slider1.jpg" alt="slider1" class="side_img" />
      <ion-card-content class="product_sections">
        <ion-card-title> Mexican Green Wave </ion-card-title>
        <ion-row>
          <ion-col col-6>
            <ion-label class="product_price">1000 FCFA</ion-label>
          </ion-col>

          <ion-col col-6>
            <button ion-button icon-only float-right clear color="dark">
              <ion-icon name="md-trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button class="btn_count" color="light">-</button>
            <button ion-button class="btn_count" color="light">2</button>
            <button ion-button class="btn_count" color="light">+</button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="assets/imgs/slider1.jpg" alt="slider1" class="side_img" />
      <ion-card-content class="product_sections">
        <ion-card-title> Mexican Green Wave </ion-card-title>
        <ion-row>
          <ion-col col-6>
            <ion-label class="product_price">1000 FCFA</ion-label>
          </ion-col>

          <ion-col col-6>
            <button ion-button icon-only float-right clear color="dark">
              <ion-icon name="md-trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button class="btn_count" color="light">-</button>
            <button ion-button class="btn_count" color="light">2</button>
            <button ion-button class="btn_count" color="light">+</button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
